html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  &:first-of-type {
    background-color: #d9ebfb;
  }

  @media (min-width: 1200px) {
    padding: 24px 100px;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: auto 50%;
    &:first-of-type {
      background-color: #F8F8F8;
    }
  }

  @media (min-width: 1400px) {
    padding: 24px 200px;
    background-size: 100% auto;
  }

  @media (min-width: 1600px) {
    padding: 24px 300px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
